
$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$defaultTextColor: #333333;
$blueColor: #00ACE2;
$blueHoverColor: #0993BE;
$greenColor: #05923D;
$redColor: #DA2F2F;
$greyColor: #949494;
$whiteColor: #ffffff;
$whiteGreyColor: #DADADA;
