@import "../abstracts/mixins";
@import "../abstracts/variables";


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: $whiteColor;
  z-index: 99;
  &-top {
    position: relative;
    background: $blueColor;
    color: #fff;
    padding: 8px 0 9px 0;
    &-logo {
      display: none;
    }
    & .menu {
      &-item {
        margin-right: 36px;
        @include transition(.3);
        &:hover {
          color: #8CE3FF;
        }
        & a {
          @include fontSize(14, 16);
        }
        &.current-menu-item {
          color: #8CE3FF;
        }
      }
      &-mobile {
        display: none;
      }
    }
    & .header-search {
      display: none;
    }
  }
  &-lang {
    padding-right: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    & .checkbox-label {
      outline: none;
      user-select: none;
      display:block;
      background: transparent;
      border: 1px solid #fff;
      height: 10px;
      width: 25px;
      border-radius: 50px;
      position:relative;
      .ua {
        display:block;
        position:absolute;
        z-index:0;
        left:0;
        opacity:1;
        line-height:50px;
        opacity:0;
        color: $whiteColor;
      }
      .ru {
        display:block;
        position:absolute;
        z-index:0;
        left: 40px;
        opacity: 1;
        top: -20px;
        opacity:1;
        line-height:50px;
        opacity:1;
        color:$whiteColor;
      }
      &:before {
        content:'';
        display:block;
        position:absolute;
        z-index:1;
        top: -1px;
        left: 15px;
        border-radius:50px;
        height: 10px;
        width: 10px;
        background: $whiteColor;
      }
    }
    .checkbox {
      position:absolute;
      left:-5000px;
      &:checked {
        + .checkbox-label {
          .ua {
            left: 40px;
            opacity: 1;
            top: -20px;
          }
          .ru {
            right:0px;
            opacity:0;
          }
          &:before {
            left: 0;
          }
        }
      }
    }
  }
  &-primary {
    padding: 21px 0;
  }
  &-logo {
    &__container {
      & a, span {
        @include fontSize(22, 30);
        line-height: 42px;
        font-weight: 500;
      }
      & span {
        color: $blueColor;
      }
    }
    & .company-description span {
      font-size: 10px;
      line-height: 14px;
      display: block;
    }
  }
  &-search {
    position: relative;
    width: 25vw;
    & form {
      display: flex
    }
    &-input {
      padding: 6px 16px;
      border-radius: 5px;
      border: 1px solid #DADADA;
      width: 100%;
    }
    &-btn {
      border: none;
      background: transparent;
      position: absolute;
      height: 100%;
      top: 0;
      right: 0;
      outline: none;
    }
  }
  &-phone {
    display: flex;
    align-items: center;
    &__image {
      padding-right: 18px;
      & i {
        font-size: 24px;
      }
    }
    & .phone-number {
      font-size: 18px;
      line-height: 22px;
    }
    & .phone-schedule {
      font-size: 12px;
      line-height: 12px;
      color: $greyColor;
      padding-top: 2px;
    }
  }
  &-contact-us {
    & button {
      padding: 6px 19px;
      border-radius: 5px;
      line-height: 24px;
    }
  }
  &-cart {
    position: relative;
    & a {
      display: block;
    }
    & i {
      font-size: 24px;
    }
    & .cart-badge {
      width: 16px;
      height: 16px;
      border-radius: 100%;
      background: $blueColor;
      color: $whiteColor;
      position: absolute;
      top: -7px;
      left: -7px;
      display: flex;
      align-items: center;
      justify-content: center;
      & span {
        font-size: 12px;
      }
    }
  }
  &.--up {
    top: -42px;
    transition: top 0.2s ease-in-out;
    @media (max-width: $breakpoint-md) {
      top: 0;
    }
  }

  &.--down {
    top: 0;
    transition: top 0.2s ease-in-out;
    @media (max-width: $breakpoint-md) {
      top: 0;
    }
  }
  & .categories {
    &-dropdown {
      padding: 11px 0;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: $whiteGreyColor;
      }
    }
    &-text {
      padding-left: 30px;
    }
    &-hamburger {
      position: absolute;
      top: calc(50% - 6px);
      width: 20px;
      height: 12px;
      & span {
        position: absolute;
        width: 20px;
        height: 2px;
        border-radius: 100px;
        background: $blueColor;
        @include transition(.3);
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2){
          top: 6px;
        }
        &:nth-child(3){
          top: 12px;
        }
      }
      &.open {
        span {
          &:nth-child(1) {
            top: 6px;
            transform: rotate(135deg);
          }
          &:nth-child(2){
            background: transparent;
          }
          &:nth-child(3){
            top: 6px;
            transform: rotate(-135deg);
          }
        }
      }
    }
    &-nav {
      & .categories-hamburger {
        top: 17px;
        left: 0;
      }
      & .categories-nav__item_heading {
        position: absolute;
        top: 11px;
        left: 30px;
      }
    }

    &-navigation {
      padding: 11px 0 11px 64px;
    }
  }
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 22px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: none;
  & span {
    position: absolute;
    display: block;
    height: 2px;
    background: $whiteColor;
    width: 20px;
    left: 0;
    border-radius: 10px;
    @include transition(0.3);

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 5px;
    }

    &:nth-child(3) {
      top: 10px;
    }
  }
  &.open {
    & span {
      &:nth-child(1) {
        top: 4px;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      &:nth-child(2) {
        background: transparent;
      }

      &:nth-child(3) {
        top: 4px;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
      }
    }
  }
}

.header-lines {
  position: relative;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    background: $whiteGreyColor;
    height: 1px;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
}

.categories-container {
  position: absolute;
  top: 46px;
  opacity: 0;
  top: 0;
  @include transition(.3);
  background: $whiteColor;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: -1;
  padding: 60px 20px 20px 20px;
  &.active {
    opacity: 1;
    top: 0;
    left: 0;
    z-index: 2;
  }
  & .categories-nav {
    &__item {
      margin-bottom: 10px;
      & a {
        position: relative;
        @include transition (.3);
        &:before {
          content: '';
          position: absolute;
          width: 0;
          height: 1.3px;
          display: block;
          margin-top: 0px;
          right: 0;
          bottom: -3px;
          background: $blueColor;
          transition: width .4s ease;
          -webkit-transition: width .4s ease;
        }
      }
      &:hover a {
        color: $blueColor;
        &:before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}


.menu-categories {
  & ul {
    display: flex;
    justify-content: space-between;
    & .menu-item {
      position: relative;
      @include transition(.3);
      &:hover {
        color: $blueColor;
      }
      & a {
        @include fontSize(14, 16)
      }
      &.current-menu-item {
        color: $blueColor;
      }
    }
  }
}

@media(max-width: $breakpoint-lg) {
  .header {
    position: static;
    &-top {
      position: fixed;
      width: 100%;
      z-index: 99;
      &-logo {
        display: block;
      }
      & .navbar {
        position: fixed;
        height: calc(100vh - 41px);
        overflow-y: auto;
        background: $blueColor;
        width: 100%;
        left: -100vw;
        top: 40px;
        z-index: 99;
        padding: 15px;
        @include transition(.3);
        &.active {
          left: 0;
        }
        & .header-lang {
          padding: 0;
          display: block;
          position: absolute;
          top: 22px;
          right: 64px;
        }
      }
      & .menu {
        display: flex;
        flex-direction: column;
        &-item {
          margin: 0 0 16px 0;
        }
        &-mobile {
          display: block;
          padding-top: 8px;
          &__item {
            margin: 0 0 16px 0;
            & i {
              padding-right: 8px;
            }
            & button {
              margin-top: 8px;
              background: $whiteColor;
              color: $blueColor;
              border-radius: 5px;
            }
          }
        }
      }
    }
    &-primary {
      padding: 50px 0 20px 0;
      & .container {
        flex-direction: column;
      }
    }
    &-logo {
      display: none;
    }
    &-lang {
      display: none;
      position: absolute;
      right: 120px;
      top: 0;
      height: 100%;
      width: unset;
    }
    &-cart {
      position: fixed;
      top: 10px;
      right: 64px;
      z-index: 99;
      & .cart-badge {
        background: #fff;
        color: #00ACE2;  
      }
      & i {
        color: #fff;
      }
    }
    &-search {
      width: 90vw;
      margin-bottom: 20px;
    }
    &-phone {
      margin-bottom: 20px;
    }
    & .categories-navigation {
      padding: 11px;
      & .menu {
        display: flex;
        justify-content: center;
        & li:not(:first-child) {
          display: none;
        }
      }
    }
  }
  .hamburger {
    display: block;
  }
}