@import "../abstracts/mixins";
@import "../abstracts/variables";

.banners {
  padding-top: 60px;
  &-item {
    padding: 59px 36px;
    background: #F1F1F1;
    position: relative;
  }
  &-discount {
    width: 106px;
    height: 56px;
    position: absolute;
    background: $blueColor;
    top: 0;
    right: 0;
    border-radius: 0px 5px 0px 0px;
    color: $whiteColor;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__amount {
      font-size: 24px;
      line-height: 22px;
    }
    &__text {
      font-size: 14px;
      line-height: 13px;
    }
  }
  &-title {
    padding-bottom: 24px;
  }
  &-description {
    width: 72%;
    padding-bottom: 24px;
  }
  &-price {
    padding-bottom: 24px;
    &__new {
      margin-right: 20px;
    }
  }
  &-select {
    padding-bottom: 24px;
  }
  &-image {
    position: absolute;
    bottom: 0;
    right: 0;
    & img {
      width: 250px;
      height: 250px;
      object-fit: cover;
    }
  }
}

@media(max-width: $breakpoint-lg) {
  .banners {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 46px 15px;
    }
    &-image {
      position: static;
      padding-bottom: 12px;
    }
    &-discount {
      width: 88px;
      height: 44px;
    }
    &-title {
      text-align: center;
      padding-bottom: 8px;
    }
    &-description {
      width: 100%;
      text-align: center;
      padding-bottom: 12px;
    }
    &-select {
      padding-bottom: 12px;
      & span {
        padding: 4px 16px;
      }
    }
  }
}