@import "../abstracts/mixins";
@import "../abstracts/variables";

.breadcrumb {
  margin: 40px 0 30px 0;
  &-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    margin-right: 8px;
    & a {
      color: $greyColor;
      &:not(:first-child) {
        padding-left: 20px;
      }
      &:hover {
        color: $blueColor;
      }
    }
    &.active {
      & a {
        color: $defaultTextColor;
      }
    }
  }
  &-icon {
    margin: 0 4px;
    width: 18px;
    &:before {
      content: '/';
      position: absolute;
      color: $greyColor;
    }
  }
}

@media(max-width: $breakpoint-md) {
  .breadcrumb {
    margin: 0 0 30px 0;
  }
}