@import "../abstracts/mixins";
@import "../abstracts/variables";

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  & label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
  }
  & input {
    position: absolute;
    opacity: 1;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: $blueColor;
      border: 1px solid $blueColor;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  & .checkmark {
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid $whiteGreyColor;
    margin-right: 8px;
    padding-right: 15px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5.5px;
      width: 5.6px;
      height: 11px;
      border: solid white;
      border-width: 0 1.3px 1.3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}


.input-number {
  margin: 0 15px;
  padding: 7px;
  width: 38px;
  height: 38px;
  border: 1px solid $blueColor;
  border-radius: 5px;
  text-align: center;
  outline: none;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  &-wrapper {
    display: flex;
    align-items: center;
    & button {
      border: none;
      background: transparent;
      font-size: 20px;
      line-height: 24px;
      outline: none;
      cursor: pointer;
    }
  }
}