@import "../abstracts/mixins";
@import "../abstracts/variables";

.--percent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background: $redColor;
  border-radius: 100px;
  width: 46px;
  height: 16px;
  padding: 0!important;
}

.--new-price {
  color: $redColor;
}

.--old-price {
  color: $greyColor;
  text-decoration: line-through;
  line-height: 26px;
}



.--onsale, .--new, .--popular {
  background: $redColor;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 25px;
  border-radius: 5px 0px 0px 0px;
  color: $whiteColor;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--new {
  background: $greenColor;
}

.--popular {
  background: $blueColor;
}

.nav-sale {
  position: absolute;
  right: -40px;
  top: -3px;
  font-size: 10px;
  line-height: 10px;
  width: 39px;
  height: 13px;
  background: #DA2F2F;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}