@import "../abstracts/mixins";
@import "../abstracts/variables";

.seo {
  margin: 60px 0;
  &-component {
    &__title {
      margin-bottom: 30px;
    }
    & .entry-content {
      height: 315px;
      padding-right: 16px;
      overflow-y: scroll;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 1px #DDDDDD;
        border-radius: 0;
        background-color: #DDDDDD;
        width: 1px;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0;
        -webkit-box-shadow: inset 0 0 6px transparent;
        background-color: $blueColor;
      }
    }
  }
}