@import "../abstracts/mixins";
@import "../abstracts/variables";

.tabs {
  margin-top: 60px;
  &-list {
    &__item {
      &_link {
        font-size: 16px;
        line-height: 24px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          background: rgba(0, 172, 226, 0.7);
          height: 2px;
          width: 0;
          @include transition(0.3);
        }
        &.active, &:hover {
          &:before {
            width: 100%;
          }
        }
      }
    }
    &__item:first-child {
      margin-right: 30px;
    }
  }
  &-wrap {
    .tab-content {
      display: none;
      animation: fadeEffect .5s;
      -webkit-animation: fadeEffect .5s;

      &.is-show {
        display: block;
      }

      &.active {
        display: block;
      }
    }
  }
}


.single-product-info {
  & .product-tabs-category {
    margin: 6px 15px 6px 6px;
  }
  & .tabs {
    margin-top: 0;
    &-list {
  
      &__item {
        margin: 6px;
      }
      &__link {
        display: block;
        border: 1px solid $blueColor;
        padding: 4px 24px;
        border-radius: 5px;
        @include transition (.3);
        font-size: 16px;
        line-height: 24px;
        &.active, &:hover {
          background:#009ACE;
          color:#fff;
        }
      }
    }
    &-wrap {
      margin-top: 30px;
      & .tab-content {
        display: none;
        animation: fadeEffect .5s;
        -webkit-animation: fadeEffect .5s;
        &.is-show {
          display: block;
        }
  
        &.active {
          display: block;
        }
      }
    }
  }
}

.banners {
  & .tabs, .tabs-wrap {
    margin: 0;
  }
  & .tabs-list {
    padding-bottom: 24px;
    max-width: 56%;
    &__item {
      margin: 0 12px 12px 0;
    }
  }
  &-tabs {
    &-container {
      display: flex;
      align-items: center;
      padding-bottom: 24px;
    }
  }
}

@media(max-width: $breakpoint-lg) {
  .banners {
    & .tabs-list {
      max-width: 100%;
    }
    &-tabs {
      &-container {
        justify-content: center;
      }
    }
  }
}
@media(max-width: $breakpoint-lg) {
  .banners {
    & .tabs-list__item:first-child {
      margin: 0 12px 12px 0;
    }
    & .tabs-list__link {
      padding: 4px 20px;
    }
  }
}


@keyframes fadeEffect {
  from {
    // height: 0;
    opacity: 0;
  }
  to {
    // height: 100%;
    opacity: 1;
  }
}

.mob-tab {
  display: none;
  @media (max-width: $breakpoint-lg) {
    display: block;
  }
}


@media(max-width: $breakpoint-md) {
  .tabs {
    &-list {
      &__item:first-child {
        margin-right: 20px;
      }
      &__item {
        &_link {
          font-size: 14px;
        }
      }
    }
  }
}