@import "../abstracts/mixins";
@import "../abstracts/variables";

.default-icon {
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

.preventScrolling {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
  display: block;
}

.overlap {
  position: relative;
  z-index: 2;
}

.section-heading {
  margin: 60px 0 40px 0;
  position: relative;
  display: inline-block;
  z-index: 1;
  &:before {
    content: '';
    background: rgba(0, 172, 226, 0.7);
    position: absolute;
    height: 8px;
    width: 100%;
    bottom: 5px;
    z-index: -1;
  }
}

.page-title {
  @include fontSize(24, 36);
  line-height: 1.13;
  margin-top: 60px;
  @media (max-width: $breakpoint-lg) {
    margin-top: 0;
  }
}

.common-text {
  font-size: 16px;
  font-weight: 400;
  color: $defaultTextColor;
  line-height: 1.50;
}

.full-height, body, html {
  height: 100%;
}

.full-screen {
  height: calc(100vh - 200px);
  @media (max-width: $breakpoint-lg) {
    height: calc(100vh - 260px);
  }
}

.body-padding {
  height: 198px;
  @media (max-width: $breakpoint-lg) {
    height: 20px;
  }
}

.carousel {
  opacity: 0;

  &.loadSlider {
    opacity: 1;
  }
}