@import "../abstracts/mixins";
@import "../abstracts/variables";

.cart {
  &-heading {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 40px 0 30px 0;
    padding: 15px 0;
    &:before {
      content: '';
      background: $whiteGreyColor;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -30px;
      left: 0;
    }
  }
  &-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0;
    &-item {
      color: $greyColor;
      // &:nth-child(2) {
      //   padding-left: 30px;
      // }
      // &:nth-child(3) {
      //   padding-left: 140px;
      // }
      // &:nth-child(4) {
      //   margin-right: -20px;
      // }
    }
  }
  &-item {
    width: 100%;
    position: relative;
    padding: 30px 0;
    & .row:first-child {
      align-items: center;
      & .total-price__text {
        display: none;
        font-size: 12px;
        line-height: 16px;
        color: $greyColor;
      }
    }
    &:before {
      content: '';
      background: $whiteGreyColor;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
    }
    &-main {
      display: flex;
    }
    &__image {
      & img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
    &__code {
      color: $greyColor;
      font-size: 12px;
      line-height: 16px;
      margin: 10px 0;
    }
    &-total {
      & span .total-price__text {
        display: none;
      }
      & span {
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
      }
    }
    &__price {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      & span {
        padding-right: 15px;
      }
      & .--new-price {
        color: $defaultTextColor;
      }
    }
    &__remove {
      width: 20px;
      height: 20px;
      position: relative;
      display: block;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 10px;
        right: 0;
        background: $defaultTextColor;
        width: 100%;
        height: 1.5px;
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  & .quantity {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    & span {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
    }
  }
  &-result {
    padding: 40px 0 60px 0;
    &-price {
      padding-right: 40px;
    }
  }
}

.empty-cart {
  height: 500px;
  &-content {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  &-text {
    color: #BBBBBB;
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
  }
}

@media(max-width: $breakpoint-lg) {
  .cart {
    &-heading {
      margin: 10px 15px 20px 15px;
      padding: 0;
    }
    &-options {
      display: none;
    }
    &-item {
      & .row:first-child {
        flex-direction: column;
        align-items: center;
        & .cart-item-total {
          display: flex;
          align-items: center;
        }
        & .total-price__text {
          display: block;
          padding-right: 10px;
        }
      }
      & .column:nth-child(3) {
        flex-direction: column;
      }
      & .cart-column {
        text-align: center;
        &:nth-child(2) {
          margin: 0;
        }
      }
      &-main {
        flex-direction: column;
      }
      &-control {
        flex-direction: column;
      }
      &__remove {
        position: absolute;
        top: 30px;
        right: 30px;
      }
      &__image {
        margin: 0;
      }
      &__info {
        text-align: center;
      }
      &__price {
        margin-bottom: 10px;
        justify-content: center;
        & span {
          padding: 0 10px;
        }
      }
    }
    &-column {
      margin-bottom: 10px;
    }
    &-result {
      padding: 20px 0;
      flex-direction: column;
      &-price {
        padding: 0 0 20px 0;
      }
    }
  }
}