@import "../abstracts/mixins";
@import "../abstracts/variables";


.categories {
  &-sidenav {
    position: sticky;
    padding-bottom: 40px;
    top: 200px;
    & .section-heading {
      margin-top: 34px;
    }
  }
  &-filter {
    z-index: 99;
    background: #fff;
    @include transition(.3);
    &__subtitle {
      padding: 4px 0 0 10px;
      margin-bottom: 10px;
    }
    &__items {
      & .filter-item {
        padding-left: 34px;
        position: relative;
        & a {
          &:before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            border: 1px solid $whiteGreyColor;
            border-radius: 2px;
            left: 10px;
            top: 4px;
          }
        }
        &.active {
          & a {
            &:before {
              background-color: $blueColor;
              background-image: url('../img/checkmark.svg');
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }
      & .count {
        padding-left: 10px;
      }
    }
  }
  &-products {
    padding-top: 115px;
  }
  &-empty {
    color: #BBBBBB;
  }
}