@import "../abstracts/mixins";
@import "../abstracts/variables";


.primary-screen {
  position: relative;
  height: calc(100vh - 200px);
  &-carousel {
    &__item {
      width: 100%;
    }
  }
  &__title {
    padding-top: 70px;
  }
  &__description {
    padding-top: 36px;
    width: 80%;
  }
  &__details {
    padding-top: 32px;
  }
  &__quantity {
    margin-right: 20px;
  }
  &__new-price {
    margin-right: 20px;
  }
  &__old-price {
    margin-right: 20px;
  }
  &__add {
    padding-top: 32px;
  }
  &__background {
    background: $blueColor;
    width: 33%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
  &__icon {
    position: absolute;
    left: 50%;
    bottom: 45px;
    & img {
      width: 440px;
      height: 440px;
      object-fit: cover;
    }
  }
}


@media(max-width: $breakpoint-lg) {
  .primary-screen {
    height: calc(100vh - 40px);
    &__title {
      text-align: center;
      font-size: 24px;
      line-height: 28px;
      padding-top: 16px;
    }
    &__description {
      text-align: center;
      width: 100%;
      padding: 8px 15px 26px 15px;
      font-size: 16px;
      line-height: 24px;
    }
    &__background {
      display: flex;
      justify-content: center;
      position: static;
      width: 100%;
      background: none;
    }
    &__icon {
      position: static;
      width: 100%;
      & img {
        margin: 0 auto;
        width: 200px;
        height: 200px;
      }
    }
    &__details {
      padding-top: 20px;
      justify-content: center;
    }
    &__quantity {
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
    }
    &__add {
      text-align: center;
      padding-top: 16px;
    }
    & .flickity-page-dots {
      position: absolute;
      bottom: -25px;
      text-align: center;
      padding: 60px 15px 0 15px;
    }
  }
} 