@charset "UTF-8";
.fade-in {
  animation: fade-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.animate-in {
  animation: modalIn 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

.animate-away {
  animation: modalAway 1.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

@-webkit-keyframes modalIn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes modalIn {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes modalAway {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes modalAway {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scaleMarker {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

@keyframes scaleMarker {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(5);
    transform: scale(5);
  }
}

.default-icon {
  width: 100%;
}

.default-icon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
  display: block;
}

.overlap {
  position: relative;
  z-index: 2;
}

.full-height, body, html {
  height: 100%;
}

.body-padding {
  height: 198px;
}

.preventScrolling {
  overflow: hidden;
}

.carousel {
  opacity: 0;
}

.carousel.loadSlider {
  opacity: 1;
}

/* Gotham */
@font-face {
  font-family: 'Gotham';
  src: url("/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url("/fonts/GothamPro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* icomoon */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?rpy6i7");
  src: url("../fonts/icomoon.eot?rpy6i7#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?rpy6i7") format("truetype"), url("../fonts/icomoon.woff?rpy6i7") format("woff"), url("../fonts/icomoon.svg?rpy6i7#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  position: relative;
  font-family: 'Gotham', sans-serif;
  font-weight: 400;
  color: #333333;
  overflow-x: hidden;
  background: #ffffff;
}

ol, ul {
  list-style: none;
  font-size: 0;
}

ol li, ul li {
  font-size: 14px;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.--light {
  font-weight: 300;
}

.--regular {
  font-weight: 400;
}

.--medium {
  font-weight: 500;
}

.--bold {
  font-weight: 700;
}

.--heavy {
  font-weight: 900;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gotham', sans-serif;
}

.heading-1 {
  font-size: 64px;
  font-size: -webkit-calc(40px + (64 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(40px + (64 - 40) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(40px + (64 - 40) * ((100vw - 300px) / (1900 - 300)));
  line-height: 61px;
}

.heading-2 {
  font-size: 36px;
  font-size: -webkit-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 38px;
}

.heading-3 {
  font-size: 24px;
  font-size: -webkit-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  line-height: 36px;
}

.heading-4 {
  font-size: 18px;
  font-size: -webkit-calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 22px;
}

.heading-5 {
  font-size: 16px;
  font-size: -webkit-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  line-height: 24px;
}

.heading-6 {
  font-size: 14px;
  font-size: -webkit-calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
}

.icon-quote:before {
  content: "\e900";
}

.icon-arrow-left-white:before {
  content: "\e901";
  color: #dadada;
}

.icon-arrow-right-white:before {
  content: "\e902";
  color: #dadada;
}

.icon-arrow-blue:before {
  content: "\e903";
  color: #0993be;
}

.icon-clock:before {
  content: "\e904";
  color: #fff;
}

.icon-main-phone:before {
  content: "\e905";
}

.icon-contacts-email:before {
  content: "\e906";
  color: #fff;
}

.icon-cart:before {
  content: "\e907";
}

.icon-close:before {
  content: "\e909";
}

.icon-contacts-phone:before {
  content: "\e90a";
  color: #fff;
}

.icon-instagram:before {
  content: "\e90b";
  color: #fff;
}

.icon-facebook:before {
  content: "\e90c";
  color: #fff;
}

.footer-input:before {
  content: "";
  background-image: url("../../img/footer.input.svg");
}

.btn {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
  cursor: pointer;
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-size: 16px;
  font-size: 16px;
  font-size: -webkit-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  display: inline-block;
  padding: 12px 24px;
  min-width: 100px;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.btn-primary {
  background: #00ACE2;
}

.btn-primary:hover {
  background: #0993BE;
}

.btn-transparent {
  border: 1px solid #00ACE2;
  border-radius: 5px;
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.btn-transparent:hover {
  background: #0993BE;
  color: #ffffff;
}

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filter-item label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.filter-item input {
  position: absolute;
  opacity: 1;
  cursor: pointer;
  height: 0;
  width: 0;
}

.filter-item input:checked ~ .checkmark {
  background-color: #00ACE2;
  border: 1px solid #00ACE2;
}

.filter-item input:checked ~ .checkmark:after {
  display: block;
}

.filter-item .checkmark {
  height: 16px;
  width: 16px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #DADADA;
  margin-right: 8px;
  padding-right: 15px;
}

.filter-item .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5.5px;
  width: 5.6px;
  height: 11px;
  border: solid white;
  border-width: 0 1.3px 1.3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-number {
  margin: 0 15px;
  padding: 7px;
  width: 38px;
  height: 38px;
  border: 1px solid #00ACE2;
  border-radius: 5px;
  text-align: center;
  outline: none;
}

.input-number::-webkit-inner-spin-button, .input-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input-number-wrapper {
  display: flex;
  align-items: center;
}

.input-number-wrapper button {
  border: none;
  background: transparent;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  cursor: pointer;
}

.--percent {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background: #DA2F2F;
  border-radius: 100px;
  width: 46px;
  height: 16px;
}

.--new-price {
  font-size: 36px;
  font-size: -webkit-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 34px;
  color: #DA2F2F;
}

.--old-price {
  color: #949494;
  text-decoration: line-through;
  line-height: 26px;
}

.--discount {
  background: #DA2F2F;
  position: absolute;
  top: 0;
  left: 0;
  width: 75px;
  height: 25px;
  border-radius: 5px 0px 0px 0px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.--discount:before {
  content: 'Акція';
}

.--new {
  background: #05923D;
}

.--popular {
  background: #00ACE2;
}

.section-heading {
  margin-top: 60px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  position: relative;
}

.section-heading:before {
  content: '';
  background: rgba(0, 172, 226, 0.7);
  position: absolute;
  height: 8px;
  width: 100%;
  bottom: 5px;
  z-index: -1;
}

.products-component .flickity-viewport {
  height: 450px !important;
}

.products-component .flickity-prev-next-button {
  margin: 0;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
}

.products-component .flickity-prev-next-button:after {
  color: #DADADA;
}

.products-component .flickity-prev-next-button.previous {
  right: 50%;
  border-radius: 5px 0px 0px 5px;
  background: transparent;
  border: 1px solid #DADADA;
  right: 35.5px;
  top: -20px;
}

.products-component .flickity-prev-next-button.next {
  border-radius: 0px 5px 5px 0px;
  background: transparent;
  border: 1px solid #DADADA;
  right: 0;
  left: unset;
  top: -20px;
}

.products-carousel {
  width: 100%;
  padding-top: 40px;
}

.products-carousel__item {
  width: 23%;
  padding: 20px 20px 40px 20px;
  box-shadow: 0px 0px 20px #dadada;
  border-radius: 5px;
  margin: 30px 15px;
}

.product figure {
  position: relative;
}

.product-photo {
  padding-bottom: 20px;
}

.product-photo img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  margin: 0 auto;
}

.product-title {
  padding-bottom: 10px;
  font-weight: 500;
}

.product-subtitle {
  padding-bottom: 10px;
}

.product-price__new {
  font-weight: 500;
  margin-right: 10px;
}

.product-price__old {
  margin-right: 10px;
}

.product-button {
  position: absolute;
  bottom: -15px;
  right: 20px;
  width: 100%;
}

.product-button a {
  position: relative;
  transition: all .2s ease;
  text-decoration: none;
  display: block;
}

.product-button a:before {
  content: "+";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 28px;
  background: #fff;
  border: 3px solid #00ACE2;
  width: 48px;
  height: 48px;
  z-index: 29;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.product-button a:after {
  content: 'Переглянути';
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  border-radius: 28px;
  background: #00ACE2;
  border: 3px solid #00ACE2;
  width: 48px;
  height: 48px;
  z-index: 19;
  opacity: 0;
  transition: all .3s ease;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 43px;
}

.product-button a span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;
}

.product-button a:hover:after {
  opacity: 1;
  width: 80%;
}

.banners {
  padding-top: 60px;
}

.banners-item {
  padding: 59px 36px;
  background: #F1F1F1;
  position: relative;
}

.banners-discount {
  width: 106px;
  height: 56px;
  position: absolute;
  background: #00ACE2;
  top: 0;
  right: 0;
  border-radius: 0px 5px 0px 0px;
  color: #ffffff;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banners-discount__amount {
  font-size: 24px;
  line-height: 22px;
}

.banners-discount__text {
  font-size: 14px;
  line-height: 13px;
}

.banners-title {
  padding-bottom: 24px;
}

.banners-subtitle {
  width: 72%;
  padding-bottom: 24px;
}

.banners-price {
  padding-bottom: 24px;
}

.banners-price__new {
  margin-right: 20px;
}

.banners-weight {
  padding-bottom: 24px;
}

.banners-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

.banners-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.choose-one {
  display: inline-block;
}

.choose-one ul {
  display: flex;
}

.choose-one li {
  margin-right: 12px;
}

.choose-one span {
  color: #333333;
  border: 1px solid #00ACE2;
  padding: 4px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s ease;
  font-size: 16px;
  line-height: 24px;
}

.choose-one input {
  display: none;
}

.choose-one input:checked + span {
  background: #009ACE;
  color: #fff;
}

.seo {
  margin: 60px 0;
}

.seo-component__title {
  margin-bottom: 30px;
}

.seo-component .entry-content {
  height: 315px;
  padding-right: 16px;
  overflow-y: scroll;
}

.seo-component .entry-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px #DDDDDD;
  border-radius: 0;
  background-color: #DDDDDD;
  width: 1px;
}

.seo-component .entry-content::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

.seo-component .entry-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: #00ACE2;
}

.entry-content {
  font-family: 'Circe', sans-serif;
  font-weight: normal;
}

.entry-content p {
  font-size: 16px;
  font-size: -webkit-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  margin-bottom: 24px;
}

@media (max-width: 991px) {
  .entry-content p {
    margin-bottom: 16px;
  }
}

.entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  font-weight: bold;
}

.entry-content h2 {
  font-size: 36px;
  font-size: -webkit-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(24px + (36 - 24) * ((100vw - 300px) / (1900 - 300)));
  line-height: 38px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.entry-content h3 {
  font-size: 24px;
  font-size: -webkit-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(20px + (24 - 20) * ((100vw - 300px) / (1900 - 300)));
  line-height: 36px;
  margin-bottom: 16px;
}

.entry-content h4 {
  font-size: 18px;
  font-size: -webkit-calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)));
  line-height: 22px;
}

.entry-content h5 {
  font-size: 16px;
  font-size: -webkit-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  line-height: 24px;
}

.entry-content h6 {
  font-size: 14px;
  font-size: -webkit-calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1900 - 300)));
}

.entry-content h4, .entry-content h5, .entry-content h6 {
  margin-bottom: 24px;
}

.entry-content .wp-block-image {
  width: 100%;
  height: 100%;
  margin-bottom: 18px;
}

.entry-content .wp-block-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.entry-content ul {
  margin-bottom: 24px;
}

.entry-content ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  position: relative;
  padding-left: 18px;
}

.entry-content ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #00ACE2;
}

.entry-content .wp-block-quote {
  padding-left: 15px;
  position: relative;
}

.entry-content .wp-block-quote:before {
  content: '';
  height: 100%;
  width: 3px;
  background: #948671;
  position: absolute;
  left: 0;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.m-auto {
  display: block;
  margin: auto;
}

.m-row {
  margin: 0 -15px;
}

@media (max-width: 575px) {
  .m-row {
    margin: 0 !important;
  }
}

.p-0 {
  padding: 0 !important;
}

@media (max-width: 575px) {
  .p-0 {
    padding: 0 15px !important;
  }
}

.p-zero {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.column {
  padding: 0 15px;
  position: relative;
}

@media (max-width: 575px) {
  .column {
    padding: 0;
  }
}

.align-self-middle {
  -webkit-align-self: center;
  align-self: center;
}

.align-self-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-spaced {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.align-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-start {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-start;
}

.align-self-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.align-content-justify {
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.flex-column {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.col-xs-1 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-xs-2 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-xs-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25.0%;
  -ms-flex: 0 0 25.0%;
  flex: 0 0 25.0%;
  max-width: 25.0%;
}

.col-xs-4 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-xs-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.66666%;
  -ms-flex: 0 0 41.66666%;
  flex: 0 0 41.66666%;
  max-width: 41.66666%;
}

.col-xs-6 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50.0%;
  -ms-flex: 0 0 50.0%;
  flex: 0 0 50.0%;
  max-width: 50.0%;
}

.col-xs-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-xs-8 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.66666%;
  -ms-flex: 0 0 66.66666%;
  flex: 0 0 66.66666%;
  max-width: 66.66666%;
}

.col-xs-9 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75.0%;
  -ms-flex: 0 0 75.0%;
  flex: 0 0 75.0%;
  max-width: 75.0%;
}

.col-xs-10 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-xs-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66666%;
  -ms-flex: 0 0 91.66666%;
  flex: 0 0 91.66666%;
  max-width: 91.66666%;
}

.col-xs-12 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100.0%;
  -ms-flex: 0 0 100.0%;
  flex: 0 0 100.0%;
  max-width: 100.0%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }
  .col-sm-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-sm-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }
  .col-sm-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-sm-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }
  .col-sm-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }
  .col-sm-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }
  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }
  .col-md-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }
  .col-md-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }
  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }
  .col-lg-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-lg-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }
  .col-lg-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-lg-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }
  .col-lg-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }
  .col-lg-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }
  .col-xl-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }
  .col-xl-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }
  .col-xl-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

/* small phones grid*/
@media (max-width: 475px) {
  .col-exs-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-exs-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-exs-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25.0%;
    -ms-flex: 0 0 25.0%;
    flex: 0 0 25.0%;
    max-width: 25.0%;
  }
  .col-exs-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-exs-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.66666%;
    -ms-flex: 0 0 41.66666%;
    flex: 0 0 41.66666%;
    max-width: 41.66666%;
  }
  .col-exs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50.0%;
    -ms-flex: 0 0 50.0%;
    flex: 0 0 50.0%;
    max-width: 50.0%;
  }
  .col-exs-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.33333%;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-exs-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.66666%;
    -ms-flex: 0 0 66.66666%;
    flex: 0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-exs-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75.0%;
    -ms-flex: 0 0 75.0%;
    flex: 0 0 75.0%;
    max-width: 75.0%;
  }
  .col-exs-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-exs-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.66666%;
    -ms-flex: 0 0 91.66666%;
    flex: 0 0 91.66666%;
    max-width: 91.66666%;
  }
  .col-exs-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100.0%;
    -ms-flex: 0 0 100.0%;
    flex: 0 0 100.0%;
    max-width: 100.0%;
  }
}

.footer {
  padding: 60px 0;
  background: #333333;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.footer-title {
  padding-bottom: 30px;
}

.footer a {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer a:hover, .footer a:hover i:before {
  color: #00ACE2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer i:before {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.footer-list__item {
  padding-bottom: 10px;
}

.footer-list__item i:before {
  padding-right: 12px;
}

.footer-list__item a {
  font-size: 14px;
  line-height: 20px;
}

.footer-list__item a:hover {
  color: #00ACE2;
}

.footer-subscribe {
  max-width: 330px;
}

.footer-subscribe__input {
  width: 100%;
  padding: 8px 16px;
  background: transparent;
  border: 1px solid #949494;
  color: #DADADA;
  border-radius: 5px;
}

.footer-subscribe__input::placeholder {
  color: #949494;
}

.footer-subscribe__input:focus {
  border: 1px solid #DADADA;
  outline: none;
}

.footer-form {
  padding-bottom: 40px;
}

.footer-subtitle {
  padding-bottom: 16px;
}

.footer-socials-list__item:first-of-type {
  position: relative;
}

.footer-socials-list__item:first-of-type:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 1px;
  background: #fff;
  right: 12px;
}

.footer-socials-list__item {
  padding-right: 30px;
}

.footer-socials-list__item i {
  padding-right: 5px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: #ffffff;
  z-index: 99;
}

.header-top {
  background: #00ACE2;
  color: #fff;
  padding: 8px 0 9px 0;
}

.header-top .menu-item {
  margin-right: 36px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header-top .menu-item:hover {
  color: #8CE3FF;
}

.header-top .menu-item a {
  font-size: 16px;
  font-size: -webkit-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
}

.header-top .menu-item.current-menu-item {
  color: #8CE3FF;
}

.header-lang {
  padding-right: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-lang .checkbox-label {
  outline: none;
  user-select: none;
  display: block;
  background: transparent;
  border: 1px solid #fff;
  height: 10px;
  width: 25px;
  border-radius: 50px;
  position: relative;
}

.header-lang .checkbox-label .ua {
  display: block;
  position: absolute;
  z-index: 0;
  left: 0;
  opacity: 1;
  line-height: 50px;
  opacity: 0;
  color: #ffffff;
}

.header-lang .checkbox-label .ru {
  display: block;
  position: absolute;
  z-index: 0;
  left: 40px;
  opacity: 1;
  top: -20px;
  opacity: 1;
  line-height: 50px;
  opacity: 1;
  color: #ffffff;
}

.header-lang .checkbox-label:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 15px;
  border-radius: 50px;
  height: 10px;
  width: 10px;
  background: #ffffff;
}

.header-lang .checkbox {
  position: absolute;
  left: -5000px;
}

.header-lang .checkbox:checked + .checkbox-label .ua {
  left: 40px;
  opacity: 1;
  top: -20px;
}

.header-lang .checkbox:checked + .checkbox-label .ru {
  right: 0px;
  opacity: 0;
}

.header-lang .checkbox:checked + .checkbox-label:before {
  left: 0;
}

.header-primary {
  padding: 21px 0;
}

.header-logo__container a, .header-logo__container span {
  font-size: 30px;
  font-size: -webkit-calc(22px + (30 - 22) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(22px + (30 - 22) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1900 - 300)));
  line-height: 42px;
  font-weight: 500;
}

.header-logo__container span {
  color: #00ACE2;
}

.header-logo .company-description span {
  font-size: 10px;
  line-height: 14px;
  display: block;
}

.header-search {
  position: relative;
  width: 470px;
}

.header-search form {
  display: flex;
}

.header-search-input {
  padding: 6px 16px;
  border-radius: 5px;
  border: 1px solid #DADADA;
  width: 100%;
}

.header-search-btn {
  border: none;
  background: transparent;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  outline: none;
}

.header-phone {
  display: flex;
  align-items: center;
}

.header-phone__image {
  padding-right: 18px;
}

.header-phone__image i {
  font-size: 24px;
}

.header-phone .phone-number {
  font-size: 18px;
  line-height: 22px;
}

.header-phone .phone-schedule {
  font-size: 12px;
  line-height: 12px;
  color: #949494;
  padding-top: 2px;
}

.header-contact-us button {
  padding: 6px 19px;
  border-radius: 5px;
  line-height: 24px;
}

.header-cart {
  position: relative;
}

.header-cart a {
  display: block;
}

.header-cart i {
  font-size: 24px;
}

.header-cart .cart-badge {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #00ACE2;
  color: #ffffff;
  position: absolute;
  top: -7px;
  left: -7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-cart .cart-badge span {
  font-size: 12px;
}

.header.--up {
  top: -42px;
  transition: top 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .header.--up {
    top: 0;
  }
}

.header.--down {
  top: 0;
  transition: top 0.2s ease-in-out;
}

@media (max-width: 767px) {
  .header.--down {
    top: 0;
  }
}

.header .categories-dropdown {
  padding: 11px 0;
  position: relative;
}

.header .categories-dropdown:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #DADADA;
}

.header .categories-text {
  padding-left: 30px;
}

.header .categories-hamburger {
  position: absolute;
  top: calc(50% - 6px);
  width: 20px;
  height: 12px;
}

.header .categories-hamburger span {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  background: #00ACE2;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.header .categories-hamburger span:nth-child(1) {
  top: 0;
}

.header .categories-hamburger span:nth-child(2) {
  top: 6px;
}

.header .categories-hamburger span:nth-child(3) {
  top: 12px;
}

.header .categories-hamburger.open span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}

.header .categories-hamburger.open span:nth-child(2) {
  background: transparent;
}

.header .categories-hamburger.open span:nth-child(3) {
  top: 6px;
  transform: rotate(-135deg);
}

.header .categories-navigation {
  padding: 11px 0 11px 64px;
}

.header-lines {
  position: relative;
}

.header-lines:before, .header-lines:after {
  content: "";
  position: absolute;
  width: 100%;
  background: #DADADA;
  height: 1px;
}

.header-lines:before {
  top: 0;
}

.header-lines:after {
  bottom: 0;
}

.categories-container {
  position: absolute;
  left: -110vw;
  width: 280px;
  top: 80px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-container.active {
  position: absolute;
  left: 0;
}

.categories-container .categories-filter {
  position: fixed;
  width: 280px;
  z-index: 99;
  background: #fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.categories-container .categories-filter__subtitle {
  padding: 44px 0 0 20px;
  margin-bottom: 10px;
}

.categories-container .categories-filter__items {
  padding-left: 20px;
}

.menu-categories ul {
  display: flex;
  justify-content: space-between;
}

.menu-categories ul .menu-item {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.menu-categories ul .menu-item:hover {
  color: #00ACE2;
}

.menu-categories ul .menu-item a {
  font-size: 16px;
  font-size: -webkit-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: -moz-calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1900 - 300)));
}

.menu-categories ul .menu-item.current-menu-item {
  color: #00ACE2;
}

.main {
  height: 3000px;
}

.flickity-enabled {
  position: relative;
  z-index: 1;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.flickity-prev-next-button {
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: #00ACE2;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.flickity-prev-next-button:focus {
  outline: none;
}

.flickity-prev-next-button svg {
  display: none;
}

.flickity-prev-next-button:after {
  content: '';
  font-family: 'icomoon' !important;
  color: #ffffff;
  font-size: 10px;
}

.flickity-prev-next-button.previous:after, .flickity-prev-next-button.next:after {
  content: "";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.flickity-prev-next-button.previous {
  right: 50%;
}

.flickity-prev-next-button.previous:after {
  content: "\e901";
}

.flickity-prev-next-button.next {
  left: 50%;
}

.flickity-prev-next-button.next:after {
  content: "\e902";
}

.flickity-page-dots {
  width: 100%;
  z-index: 10;
  padding: 50px 0 0 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease;
  max-width: 1320px;
  margin: auto;
  padding: 0 15px;
  text-align: left;
  margin-top: -30px;
}

@media (min-width: 575px) {
  .flickity-page-dots {
    bottom: 35px;
  }
}

.flickity-page-dots .dot {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  background: rgba(47, 78, 116, 0.5);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.flickity-page-dots .dot:hover {
  background-color: #00ACE2;
  transform: scale(1.1);
}

.flickity-page-dots .dot + .dot {
  margin-left: 10px;
}

.flickity-page-dots .dot.is-selected {
  background-color: #00ACE2;
}

.flickity-page-dots .dot.is-selected:before {
  content: '';
  opacity: 1;
}

.primary-screen {
  position: relative;
  height: calc(100vh - 200px);
}

.primary-screen-carousel__item {
  padding-top: 70px;
  width: 100%;
}

.primary-screen__description {
  padding-top: 36px;
  width: 80%;
}

.primary-screen__details {
  padding-top: 32px;
}

.primary-screen__quantity {
  margin-right: 20px;
}

.primary-screen__new-price {
  margin-right: 20px;
}

.primary-screen__old-price {
  margin-right: 20px;
}

.primary-screen__add {
  padding-top: 32px;
}

.primary-screen__background {
  background: #00ACE2;
  width: 33%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.primary-screen__icon {
  position: absolute;
  left: -50%;
  top: 8%;
}
/*# sourceMappingURL=main.css.map */